
<div class="container">
  <h1>Movie Series</h1>
  <% @movies.each do |movie| %>
  <div class="row">
    <div class="col-md-3">
      <b>Title :</b> <%= movie.title %>
    </div>
    <div class="col-md-3">
    <b>Category :</b> <%= movie.category %>
    </div>
    <div class="col-md-3">
    <b>Plot :</b> <%= movie.plot %>
    </div>
    <div class="col-md-3">
      <b>Release :</b> <%= movie.release_date.strftime("%Y") %>
    </div>
  </div>
<% end %>
</div>
